    <% @entries.each do |entry| %>
      <div class="row highlight_<%= entry.highlight %>" style="border-bottom: solid 1px #F7F7F7;">
        <div class="span1">
          <% if entry.source.twitter? %>
            <%= image_tag 'https://api.twitter.com/1/users/profile_image?screen_name='+entry.source.twitter+'&size=normal',:align => 'left', :class => 'img-circle' %>
          <% end %>
        </div>
        <div class="span8">
          <b><% if entry.name.length > 85 %><%= link_to entry.name[0..85]+'...', entry.url, :target => '_blank' %><% else %><%= link_to entry.name, entry.url, :target => '_blank' %><% end %></b>  <small><%= time_ago_in_words entry.published_at %> ago</small><br />
          <small>
            <% if entry.source.slug? %><%= link_to entry.source.author, '/profile/'+entry.source.slug %><% else %><%= entry.source.author %><% end %>
        </small>
          <% if logged_in? %>
            <%#= link_to 'highlight', highlight_post_path(entry) %>
          <% end %>
          <br />
          <%#= debug entry.source %>
          <%#= entry.summary %>
          <%#= link_to 'Read',entry.url %>
        </div>
      </div>
    <% end %>
