<div class="row">
  <div class="span12">
    <h2>Leanatics</h2>
    <h4>Thoughts and ramblings from Lean Startup thought leaders</h4>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>
      My own little personal project.  I like to keep current with the blog posts from the lean startup thought leaders I look up to.  I know Google Reader and other feed readers work great for this, but I wanted to point more light on <%= link_to 'Lean Startup','http://theleanstartup.com/', :target => '_blank'  %> and those leading the charge.  I also wanted some additional functionality like the ability to easily send a blog post to <%= link_to 'Buffer','http://bufferapp.com', :target => '_blank' %> or schedule a call via <%= link_to 'Clarity.fm','http://clarity.fm', :target => '_blank' %>.
    </p>
    <p>
      If you have stumbled across this site, you might be wondering what Lean Startup is all about.  You can read more <%= link_to 'here','http://theleanstartup.com/principles', :target => '_blank'  %>.  This folks on this list know there stuff and can help you build your own startup.  Don't hesitate to contact them via twitter or schedule a phone call with <%= link_to 'Clarity','http://www.clarity.fm', :target => '_blank'  %>.
    </p>
    <p>
      If you find this site useful, by all means bookmark it, tell your friends about it and use the heck out of it.  If you think it is stupid, silly, or a waste, kindly move along.
    </p>
    <p>
      If you have ideas for improving it, or if I left off somone important - shoot me a message on <%= link_to 'twitter','http://twitter.com/#!/spinuplabs', :target => '_blank'  %> - <%= link_to '@spinuplabs','http://twitter.com/#!/spinuplabs', :target => '_blank'  %>.
    </p>
    <p>Leanatics is a side project of <%= link_to 'SpinUp Labs','http://www.spinuplabs.com' %></p>
    <hr />
    <%= render 'tags' %>
    <hr />
  </div>
</div>
<div class="row">
  <div class="span9">
    <%= render 'feedlist' %>
  </div>
  <div class="span3">
    <%= render 'authorlist' %>
  </div>
</div>
<%= render 'footer' %>
