<div class="row">
  <div class="span12">
<h1><%= @source.author %></h1>
</div>
<div class="span1">
      <% if @source.twitter? %>
        <%= image_tag 'https://api.twitter.com/1/users/profile_image?screen_name='+@source.twitter+'&size=bigger',:align => 'left', :class => 'img-circle' %>
      <% end %>
    </div>
    <div class="span11">
      <p>
  <%=simple_format @source.bio %>
</p>
<hr />
       <% if @source.twitter? %><%= link_to 'Follow on Twitter', 'http://twitter.com/#!/'+@source.twitter, :target => '_blank'%><br /><% end %>
       <% if @source.clarity? %><%= link_to 'Schedule a Call with '+@source.author,'https://clarity.fm/?b=h#/'+@source.clarity, :target => '_blank' %><br /><% end %>
       <br />
       <% if @source.categories? %>Topics:  <% @source.tags.each do |tag| %> <%= link_to tag,'/tag/'+tag %> <% end %><br /><%end %>

       <%= link_to 'Back to Main Page', feed_path %><br />

<hr />
</div>
</div>
<% @entries.each do |entry| %>
  <div class="row" style="border-bottom: solid 1px #F7F7F7;">
    <div class="span12">
      <b><%=h link_to entry.name, entry.url, :target => '_blank' %></b> <small><%= time_ago_in_words entry.published_at %> ago</small><br /><br />
    </div>
</div>
<% end %>

