<div class="row">
  <div class="span12">
    <h1><%= params[:tag].upcase %></h1>
    <p><%= link_to 'Back to Main Feed', feed_path %></p>
<hr />
</div>
</div>
<div class="row">
  <div class="span9">
    <%= render 'feedlist' %>
  </div>
  <div class="span3">
    <%= render 'authorlist' %>
  </div>
</div>
<%= render 'footer' %>
