<div class="row">
  <div class="span12">
    <h1><%= params[:tag].upcase %></h1>
    <p><%= link_to 'Back to Main Feed', feed_path %></p>
<hr />
</div>
</div>
<div class="row">
  <div class="span9">
    <% @entries.each do |entry| %>
      <div class="row" style="border-bottom: solid 1px #F7F7F7;">
        <div class="span1">
          <% if entry.source.twitter? %>
            <%= image_tag 'https://api.twitter.com/1/users/profile_image?screen_name='+entry.source.twitter+'&size=normal',:align => 'left', :class => 'img-circle' %>
          <% end %>
        </div>
        <div class="span8">
          <b><%=h link_to entry.name, entry.url, :target => '_blank' %></b> <small><%= time_ago_in_words entry.published_at %> ago</small><br />
          <small><% if entry.source.slug? %><%= link_to 'About '+entry.source.author, '/profile/'+entry.source.slug %><% else %><%= entry.source.author %><% end %></small>
          <%#= debug entry.source %>
          <%#= entry.summary %>
          <%#= link_to 'Read',entry.url %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="span3">
    <h4>Author List</h4>
    <% @active_sources.each do |source| %>
      <div class="row">
        <div class="span1">
          <% if source.twitter? %>
            <%= image_tag 'https://api.twitter.com/1/users/profile_image?screen_name='+source.twitter+'&size=mini',:align => 'left', :class => 'img-circle' %>
          <% end %>
        </div>
        <div class="span2">
          <b><%= link_to source.author, '/profile/'+source.slug %></b><br />
        </div>
      </div>
      <hr />
    <% end %>
  </div>
</div>

