<div class="row">
  <div class="span12">
    <h1><%= params[:tag].upcase %></h1>
    <% if params[:tag] == 'visionary' %>
      <h3>Thought you would be here?</h3>
      <p>Go read <%= link_to 'The Lean Entrepreneur','http://leanentrepreneur.co/' %> and find out what it takes to be a visionary.</p>
      <p><%= link_to image_tag('http://leanentrepreneur.co/wp-content/uploads/2012/10/tleordercoverftr.png'), 'http://leanentrepreneur.co' %></p>
    <% end %>
    <p><%= link_to 'Back to Main Feed', feed_path %></p>
<hr />
</div>
</div>
<div class="row">
  <div class="span9">
    <%= render 'feedlist' %>
  </div>
  <div class="span3">
    <%= render 'authorlist' %>
  </div>
</div>
<%= render 'footer' %>
