<%= form_for(@source) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %> Show in List
  </div>

  <div class="field">
    <%= f.label :update_feed %><br />
    <%= f.check_box :update_feed %> Actually Update Feed
  </div>

  <div class="field">
    <%= f.label :categories %><br />
    <%= f.text_field :categories %>
  </div>

  <div class="field">
    <%= f.label :slug %><br />
    <%= f.text_field :slug %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :blog %><br />
    <%= f.text_field :blog %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
   <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :clarity%><br />
    <%= f.text_field :clarity %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.text_field :picture %>
  </div>
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
